[data-fc="black"] {
  --fc: black;
}
[data-fc="white"] {
  --fc: white;
}
[data-fc="transparent"] {
  --fc: transparent;
}
[data-fc="currentcolor"] {
  --fc: currentcolor;
}

[data-bc="black"] {
  --bc: black;
}
[data-bc="white"] {
  --bc: white;
}
[data-bc="red"] {
  --bc: Crimson;
}
[data-bc="blue"] {
  --bc: CadetBlue;
}
[data-bc="orange"] {
  --bc: Coral;
}
[data-bc="beige"] {
  --bc: AntiqueWhite;
}
[data-bc="green"] {
  --bc: SeaGreen;
}
[data-bc="brown"] {
  --bc: BurlyWood;
}
[data-bc="transparent"] {
  --bc: transparent;
}
[data-bc="currentcolor"] {
  --bc: currentcolor;
}
