[data-stack="true"] > :nth-child(1) {
  --i: 1;
  --i-rnd: 7;
}
[data-stack="true"] > :nth-child(2) {
  --i: 2;
  --i-rnd: 25;
}
[data-stack="true"] > :nth-child(3) {
  --i: 3;
  --i-rnd: 9;
}
[data-stack="true"] > :nth-child(4) {
  --i: 4;
  --i-rnd: 4;
}
[data-stack="true"] > :nth-child(5) {
  --i: 5;
  --i-rnd: 20;
}
[data-stack="true"] > :nth-child(6) {
  --i: 6;
  --i-rnd: 17;
}
[data-stack="true"] > :nth-child(7) {
  --i: 7;
  --i-rnd: 11;
}
[data-stack="true"] > :nth-child(8) {
  --i: 8;
  --i-rnd: 22;
}
[data-stack="true"] > :nth-child(9) {
  --i: 9;
  --i-rnd: 23;
}
[data-stack="true"] > :nth-child(10) {
  --i: 10;
  --i-rnd: 45;
}
[data-stack="true"] > :nth-child(11) {
  --i: 11;
  --i-rnd: 46;
}
[data-stack="true"] > :nth-child(12) {
  --i: 12;
  --i-rnd: 35;
}
[data-stack="true"] > :nth-child(13) {
  --i: 13;
  --i-rnd: 29;
}
[data-stack="true"] > :nth-child(14) {
  --i: 14;
  --i-rnd: 50;
}
[data-stack="true"] > :nth-child(15) {
  --i: 15;
  --i-rnd: 26;
}
[data-stack="true"] > :nth-child(16) {
  --i: 16;
  --i-rnd: 31;
}
[data-stack="true"] > :nth-child(17) {
  --i: 17;
  --i-rnd: 27;
}
[data-stack="true"] > :nth-child(18) {
  --i: 18;
  --i-rnd: 19;
}
[data-stack="true"] > :nth-child(19) {
  --i: 19;
  --i-rnd: 48;
}
[data-stack="true"] > :nth-child(20) {
  --i: 20;
  --i-rnd: 30;
}
[data-stack="true"] > :nth-child(21) {
  --i: 21;
  --i-rnd: 44;
}
[data-stack="true"] > :nth-child(22) {
  --i: 22;
  --i-rnd: 1;
}
[data-stack="true"] > :nth-child(23) {
  --i: 23;
  --i-rnd: 32;
}
[data-stack="true"] > :nth-child(24) {
  --i: 24;
  --i-rnd: 5;
}
[data-stack="true"] > :nth-child(25) {
  --i: 25;
  --i-rnd: 49;
}
[data-stack="true"] > :nth-child(26) {
  --i: 26;
  --i-rnd: 43;
}
[data-stack="true"] > :nth-child(27) {
  --i: 27;
  --i-rnd: 41;
}
[data-stack="true"] > :nth-child(28) {
  --i: 28;
  --i-rnd: 14;
}
[data-stack="true"] > :nth-child(29) {
  --i: 29;
  --i-rnd: 12;
}
[data-stack="true"] > :nth-child(30) {
  --i: 30;
  --i-rnd: 18;
}
[data-stack="true"] > :nth-child(31) {
  --i: 31;
  --i-rnd: 10;
}
[data-stack="true"] > :nth-child(32) {
  --i: 32;
  --i-rnd: 33;
}
[data-stack="true"] > :nth-child(33) {
  --i: 33;
  --i-rnd: 28;
}
[data-stack="true"] > :nth-child(34) {
  --i: 34;
  --i-rnd: 37;
}
[data-stack="true"] > :nth-child(35) {
  --i: 35;
  --i-rnd: 42;
}
[data-stack="true"] > :nth-child(36) {
  --i: 36;
  --i-rnd: 47;
}
[data-stack="true"] > :nth-child(37) {
  --i: 37;
  --i-rnd: 38;
}
[data-stack="true"] > :nth-child(38) {
  --i: 38;
  --i-rnd: 39;
}
[data-stack="true"] > :nth-child(39) {
  --i: 39;
  --i-rnd: 24;
}
[data-stack="true"] > :nth-child(40) {
  --i: 40;
  --i-rnd: 34;
}
[data-stack="true"] > :nth-child(41) {
  --i: 41;
  --i-rnd: 8;
}
[data-stack="true"] > :nth-child(42) {
  --i: 42;
  --i-rnd: 13;
}
[data-stack="true"] > :nth-child(43) {
  --i: 43;
  --i-rnd: 16;
}
[data-stack="true"] > :nth-child(44) {
  --i: 44;
  --i-rnd: 6;
}
[data-stack="true"] > :nth-child(45) {
  --i: 45;
  --i-rnd: 40;
}
[data-stack="true"] > :nth-child(46) {
  --i: 46;
  --i-rnd: 21;
}
[data-stack="true"] > :nth-child(47) {
  --i: 47;
  --i-rnd: 15;
}
[data-stack="true"] > :nth-child(48) {
  --i: 48;
  --i-rnd: 2;
}
[data-stack="true"] > :nth-child(49) {
  --i: 49;
  --i-rnd: 36;
}
[data-stack="true"] > :nth-child(50) {
  --i: 50;
  --i-rnd: 3;
}
